include ../../views/helpers/mixins.pug

//- header button
mixin listBtn(text= 'Button', cls='primary', color= 'grey', icon, type= 'w4', gap='5px', iconPlace='left', iconColor= 'grey', id= '', link='')
    -
        if (iconPlace == 'left')
        {var place = 'row-reverse'} 
        else {var place = 'row'}

    .listBtn(class=`${cls} ${color} ${type}` style={gap: gap, 'flex-direction': place} id=id)
        a(href= link)
            span= text
        case icon
            when 'loc'
                .topButtonIcon(class=iconColor) 
                    include ../../assets/images/locImg.svg
            when 'locBig'
                .topButtonIcon(class=iconColor) 
                    include ../../assets/images/locBigImg.svg   
            when 'heart'
                .topButtonIcon(class=iconColor) 
                    include ../../assets/images/heartImg.svg

//- standard button
mixin stdBtn(vars)
    -
        if (vars.iconPlace == 'left')
        {var place = 'row-reverse'} 
        else {var place = 'row'}
    
    button.stdBtn(
        id= vars.id
        class=`${vars.cls ? vars.cls : 'primary'} ${vars.color ? vars.color : 'grey'} ${vars.type ? vars.type : 'w4'} ${vars.buttonPlace ? vars.buttonPlace : 'standard'}` 
        style={gap: `${vars.gap ? vars.gap : '5px'}`, 'flex-direction': `${vars.iconPlace ? place : 'left'}`, width: vars.width, })
        case vars.cls
            when 'metro'
                .stdButtonIcon(class = vars.iconColor style = {height: '20x', width: '20px'  })
                    include ../../assets/images/metroImg.svg
            when 'phone'
                .stdButtonIcon(class = vars.iconColor style = {height: '20x', width: '20px' })
                    include ../../assets/images/cellphoneImg.svg
            when 'locBig'
                    .stdButtonIcon(class= vars.iconColor) 
                        include ../../assets/images/locBigImg.svg
            when 'sort'
                    .stdButtonIcon(class= vars.iconColor style ={'margin-right': '10px'}) 
                        include ../../assets/images/sortImg.svg
            when 'lines'
                    .stdButtonIcon(class=iconColor ) 
                        include ../../assets/images/linesImg.svg
            when 'cubes'
                    .stdButtonIcon(class=iconColor ) 
                        include ../../assets/images/cubesImg.svg  
            when 'heart'
                .topButtonIcon(class=iconColor) 
                    include ../../assets/images/heartImg.svg
            when 'home'
                .topButtonIcon(class=iconColor) 
                    include ../../assets/images/homeImg.svg   
        
        .stdBtn_innerText(class = vars.textAlign)
            span(id = `${vars.id}_innerText`)= vars.text
            case vars.icon
                when 'arrowLeft'
                    .stdButtonIcon(class = vars.iconColor style = {height: '18px', width: '18px' })
                        include ../../assets/images/arrowLeftImg.svg
                when 'arrowDown'
                    .stdButtonIcon(class = vars.iconColor style = {height: '18px', width: '18px'})
                        include ../../assets/images/arrowDownImg.svg
                when 'loc'
                    .stdButtonIcon(class = vars.iconColor)
                        include ../../assets/images/locImg.svg
                when 'locBig'
                    .stdButtonIcon(class= vars.iconColor) 
                        include ../../assets/images/locBigImg.svg  
                when 'setup'
                    .stdButtonIcon(class = vars.iconColor)
                        include ../../assets/images/setupImg.svg
                when 'heart'
                    .stdButtonIcon(class=iconColor) 
                        include ../../assets/images/heartImg.svg

        block    

//- selection menus
mixin menuBtn(vars, menuElms=[{text: '1 elm'}, {text: '2 elm'}, {text: '3 elm'}, {text: '4 elm'}], contentElems= {photo: '../../assets/images/boyNextDoorImg.png', name: 'Dimitry', phone: ' +375 (29) 291-14-44', email: 'vladimir6234@tut.by'})
    +stdBtn(
        {
            text: vars.text, 
            cls: vars.cls, 
            color: vars.color, 
            type: vars.type,
            width: vars.width, 
            gap: vars.gap, 
            icon: vars.icon, 
            iconPlace: vars.iconPlace, 
            iconColor: vars.text,
            buttonPlace: vars.buttonPlace,
            id: vars.id
            })
        case vars.menuType
            when 'list'
                -i=0;
                ul(id = `${vars.id}_ul`)
                    each elm in menuElms
                        li(id = `${vars.id}_ul_${i++}`)= elm.text
            when 'content'
                .menuContent
                    .menuContent_user
                        .menuContent_user_photo
                            img(src=`${contentElems.photo}`)
                        .menuContent_user_info
                            .menuContent_user_info_title= 'Владелец'
                            .menuContent_user_info_name= contentElems.name
                    .menuContent_contacts
                        .menuContent_contacts_phone= contentElems.phone
                        .menuContent_contacts_email= contentElems.email
                    .menuContent_apps
                        .menuContent_apps_item(class= 'viber')
                            include ../../assets/images/viberImg.svg
                        .menuContent_apps_item(class= 'watsUp')
                            include ../../assets/images/whatsappImg.svg
                        .menuContent_apps_item(class= 'email')
                            include ../../assets/images/emailImg.svg

mixin textSelection(variables)
    .textSelection(id = variables.id)= variables.text
        case variables.icon
            when 'arrow' 
                .textSelection_icon(class = variables.icon)
                    include ../../assets/images/selectionArrowImg.svg
            
//- input button
mixin inputBtn(vars)
    .inputBtn
        input(
        class=`${vars.cls ? vars.cls : 'primary'} ${vars.color ? vars.color : 'grey'} ${vars.type ? vars.type : 'w4'}` 
        type= `${vars.inputType ? vars.inputType : 'text'}` 
        placeholder= `${vars.text ? vars.text : 'Text'}` 
        id= `${vars.id ? vars.id : ''}` 
        style={gap: `${vars.gap ? vars.gap : '5px'}`, 'flex-direction': `${iconPlace ? place : 'left'},`})

mixin authInput(vars)
    .authInput(class=vars.cls tabindex = '0' id= vars.containerId)
        case vars.icon
            when 'login'
                .authInput_icon
                    include ../../assets/images/userImg.svg
            when 'password'
                .authInput_icon
                    include ../../assets/images/passwordImg.svg
            when 'mail'
                .authInput_icon
                    include ../../assets/images/emailImg.svg

        input(
        class=`${vars.cls ? vars.cls : 'primary'} ${vars.color ? vars.color : 'grey'} ${vars.type ? vars.type : 'w4'}` 
        type= `${vars.inputType ? vars.inputType : 'text'}` 
        placeholder= `${vars.text ? vars.text : 'Text'}` 
        id= `${vars.id ? vars.id : ''}` 
        style={gap: `${vars.gap ? vars.gap : '5px'}`, 'flex-direction': `${iconPlace ? place : 'left'}`})
        .authInput_alert(id= vars.alertId)
                    include ../../assets/images/alertImg.svg

mixin searchInput(vars)
    .searchInput(class = vars.cls)
        input(
        class=`${vars.cls ? vars.cls : 'primary'} ${vars.color ? vars.color : 'grey'} ${vars.type ? vars.type : 'w4'}` 
        type= `${vars.inputType ? vars.inputType : 'text'}` 
        placeholder= `${vars.text ? vars.text : 'Text'}` 
        id= `${vars.id ? vars.id : ''}` 
        style={gap: `${vars.gap ? vars.gap : '5px'}`, 'flex-direction': `${iconPlace ? place : 'left'}`})

        .searchInput_button
            button(class = vars.color id = `${vars.id}_button`)
                include ../../assets/images/searchImg.svg


mixin stdTextArea(vars)
    .stdTextArea(class=vars.cls)
        textarea(name=vars.name placeholder = vars.placeholder id = vars.id)  
//- circle button
mixin circleBtn(vars)
    .circleBtn(class=`${vars.cls ? vars.cls : 'primary'} ${vars.color ? vars.color : 'white'}` id = vars.id)
        case vars.icon
            when 'arrowLeft'
                .stdButtonIcon(class = vars.iconColor style = {height: '18px', width: '18px'})
                    include ../../assets/images/arrowBigLeftImg.svg
            when 'arrowRight'
                .stdButtonIcon(class = vars.iconColor style = {height: '18px', width: '18px'})
                    include ../../assets/images/arrowBigRightImg.svg
            when 'heart'
                .stdButtonIcon(class=iconColor) 
                    include ../../assets/images/heartImg.svg

               
     
mixin listBtn_Group(values, type= 'light', gap= '20px')
    case type 
        when 'left_Top'
            .listBtn_Group_Left_Top(role='group' style{gap: gap})
                each value in values
                    +listBtn(value.text, value.cls, value.color, value.icon, value.type, value.gap, value.iconPlace, value.iconColor, value.id, value.link)
        when 'right_Top'
            .listBtn_Group_Right_Top(role='group')
                each value in values
                    +listBtn(value.text, value.cls, value.color, value.icon, value.type, value.gap, value.iconPlace, value.iconColor, value.id, value.link)
        when 'middle_Bottom'
            .listBtn_Group_Middle_Bottom(role= 'group')
                each value in values
                    +listBtn(value.text, value.cls, value.color, value.icon, value.type, value.gap, value.iconPlace, value.iconColor, value.id, value.link)
    block
    
mixin stdCheckBox(vars= {text:'Text', color:'grey purple', cls:'primary', id: 'text'})
    .stdCheckBox(class=`${vars.cls ? vars.cls : 'primary'} ${vars.color ? vars.color : 'white'}`)
        input(
        class=`customCheckbox ${vars.cls ? vars.cls : 'primary'} ${vars.color ? vars.color : 'grey purple'}` 
        type= 'checkbox' 
        placeholder= `${vars.text ? vars.text : 'Text'}` 
        id= `${vars.id ? vars.id : ''}` 
        style={gap: `${vars.gap ? vars.gap : '5px'}`, 'flex-direction': `${iconPlace ? place : 'left'},`})
        label(for= `${vars.id ? vars.id : vars.cls}`)
            span(id=`${vars.id}_title`)=vars.text

mixin toggleBtn(vars)
    .toggleBtn
        label(class = 'toggle')
            input(type='checkbox' id: vars.id)
            span(class = 'slider')
        .toggleBtn_title=vars.text
